version: "3.9"
services:
  web:
    build: .
    network_mode: service:redis
  redis:
    image: "redis:alpine"
  tailscale:
    image: tailscale/tailscale:v1.16
    cap_add:
      - net_admin
    network_mode: service:web
    command: |
      /bin/sh -c 'sh -s <<EOF
      tailscaled --tun=userspace-networking &
      until tailscale up --authkey=${TAILSCALE_AUTHKEY}
      do
          sleep 0.1
      done
      tailscale ip -4
      sleep infinity
      EOF'
